<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945726728518-6qm3m9l0qk8u3pc45983aa74ehapn5m9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945726728518-6qm3m9l0qk8u3pc45983aa74ehapn5m9</string>
	<key>API_KEY</key>
	<string>AIzaSyBAE-X-At7WjWqy0yTQ7JgyPIbyodN5qD8</string>
	<key>GCM_SENDER_ID</key>
	<string>945726728518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.upekshaD.P-D-I-U-Dharmadasa-COBSCComp192p-053</string>
	<key>PROJECT_ID</key>
	<string>cafe-nibm-new</string>
	<key>STORAGE_BUCKET</key>
	<string>cafe-nibm-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945726728518:ios:c9d8faff34e994b5c5dd47</string>
</dict>
</plist>